DATABASE_URL=
HOST=
JWT_ACCESS_TTL_SECONDS=
JWT_SECRET=
LOG_LEVEL=
MINIO_ACCESS_KEY=
MINIO_ENDPOINT=
MINIO_PORT=
MINIO_SECRET_KEY=
REFRESH_TOKEN_TTL_SECONDS=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=